body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


div{
    margin:10px;
    background-color: aqua;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px black solid;
    font-weight: bold;
}

button{
    border-radius: 10px;
    color: white;
    background-color: purple;
    font-weight: bold;
    padding: 5px;
    margin-bottom:10px;
}

button:hover{
    background-color: gray;
}

@media(max-width:1030px){
    input{
        margin:0px;
    }
}